
#navbar-fixed{
    padding: 0;
}
.navbar {
    background-color: rgba(56, 62, 76, 1);
}
.navbar-nav .nav-item{
    padding: 10px;
}
.current{
    background-color: #49505F;
}


.navbar-expand-md .navbar-nav .nav-item .nav-link{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    padding: 15px 25px;
    border: 1px solid #646d7c;
    line-height: 20px;
    text-transform: capitalize;
}

.navbar-expand-md .navbar-nav .nav-item .nav-link:hover{
    background-color: #49505F;
}
#navs .navbar-expand-md .navbar-nav .nav-item .nav-link:focus{
    background-color: #49505F;
}
@media(max-width:788px){
    .navbar-expand-md .navbar-nav .nav-item .nav-link{
        font-size: 16px;
    }
}

@media(max-width:767.98px){
    .navbar-expand-md .navbar-nav .nav-item .nav-link{
        font-family: 'Open Sans',sans-serif;
        font-size: 16px;
        padding: 10px 0;
        line-height: 20px;
        text-transform: capitalize;
        text-align: center;
        border-bottom: 1px solid white;
        border-top: 0;
        border-left: 0;
    }
    .navbar-nav .nav-item{
        padding: 0;
    }
    .navbar{
        background-color: rgba(56, 62, 76, 0);
    }
    #navbar-btn:focus{
        outline: 0;
      }
    #navbar-btn{
        margin: 10px;
        background-color: rgba(56, 62, 76, 1);
    }
    .navbar .navbar-nav{
        background-color: rgba(56, 62, 76, 1);
        margin:0 10px;
    }
}
/******************section1*************************/
#section1{
    height: 614px;
}
#section1 #header-area{
    height: 100%;
    background-image: url(./image/bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
#section1 h1{
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 70px;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.1;
    margin: 20px 0 10px;
}
#section1 h4{
    color: white;
    text-shadow: 1px 1px #333;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.1;
    margin: 10px 0;

}

@media(max-width:768px){
    #section1{
        height: 75vh;
    }
}

/*****************section2*********************/
#section2{
    padding-top: 70px;
}
#section2 img{
    max-width: 100%;
    height: auto;
}

/*--------------section2-feature--------------*/
#section2 .feature-content{
    padding-bottom: 40px;
    background-color: #F2F2F2;
}
#section2 .btn-success{
    padding: 10px 30px;
    font-size: 18px;
    text-transform: capitalize;
    width: fit-content;
    font-family: 'Open Sans',sans-serif;

}
#section2 .btn-success:focus{
    outline: 0;
    box-shadow: none;
}
#section2 .green-btn{
    background-color: #178A27;
}
#section2 .green-btn:hover{
    outline: 0;
    background: #449D44;
}

#section2 .blue-btn{
    background:#1686C1;
}
#section2 .blue-btn:hover{
    background: #31B0D5;
}
#section2 .red-btn{
    background: #852406;
}
#section2 .red-btn:hover{
    background: #C9302C;
}
#section2 .green-title{
    color: #178A27;
}
#section2 .blue-title{
    color :#1686C1;
}
#section2 .red-title{
    color: #852406;
}
#section2 .feature-title{
    padding: 0 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans',sans-serif;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}
#section2 p{
    margin:0;
}
#section2 .feature-description{
    padding: 0 20px 35px;
    text-align: left;
    color: #333333;
    font-size: 14px;
    margin-top: 15px;
}
@media(max-width:767.98px){
    #section2 .feature-content{
        max-width: 360px;
        margin: 0 auto 30px;
    }
    #section2 .feature-title{
        text-align: center;
    }
    #section2 .feature-description{
        text-align: center;
    }
}
/*----------------section2-blog---------------*/
#section2 .blog-area{
    margin-top: 60px;
}
#section2 .blog-content{
    background: #F2F2F2;
    padding-bottom: 25px;
    max-width: 555px;

}
#section2 .blog-area .blog-title{
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    margin: 20px 0px 10px;
    font-weight: 700;
    line-height: 1.1;
    color: #666666;
}
#section2 .blog-area .blog-description{
    text-align: left;
    padding: 27px;  
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6em;
    font-size: 14px;
}

#section2 .blog-area .blog-btn{
    text-transform: capitalize;
    color: #666666;
    font-size: 18px;
    padding: 10px 30px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-family: 'Open Sans',sans-serif;
}
#section2 .blog-area span{
    margin-left: 225px;
}
@media(max-width:767.98px){
    #section2 .blog-content{
        margin: 0 auto 30px;
    }
    
}
@media(max-width:991.98px){
    #section2 .blog-area span{
        margin-left: 0;
    }
}
/**********section3**************/
#section3{
    height: 315.6px;
    margin-top: 60px;
}
#section3 #services-area{
    height: 100%;
    background-image: url(./image/bg-2.jpg);
    background-size: 100%;
    
    display: flex;
    align-items: center;
}

#section3 #services-area h1{
    color: white;
    font-size: 36px;
    text-transform: capitalize;
    text-shadow: 2px 2px #aaa;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Open Sans',sans-serif;
}

#section3 #services-features{
    margin-top: 60px;

   
}
#section3 #services-features h2{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    margin: 20px 0px 10px;
    color: #666666;
    font-weight: 700;
}
#section3 #services-features .services-details{
    background-color: #f2f2f2;
    width: fit-content;
    height: 525px;
}
#section3 #services-features p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    padding: 10px 20px;
    line-height: 1.6em;
    margin: 0;
    text-align: left;
}
#section3 #services-features a{
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Open Sans',sans-serif;
    padding: 10px 30px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    display: inline-block;
    margin-top: 15px;
}

#section3 #services-features a:hover{
    text-decoration: none;
    background: #E6E6E6 ;
}
