#navbar-fixed{
    padding: 0;
}
.navbar {
    background-color: rgba(56, 62, 76, 1);
}
.navbar-nav .nav-item{
    padding: 10px;
}


.navbar-expand-md .navbar-nav .nav-item .nav-link{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    padding: 15px 25px;
    border: 1px solid #646d7c;
    line-height: 20px;
    text-transform: capitalize;
}

@media(max-width:768px){
    .navbar-expand-md .navbar-nav .nav-item .nav-link{
        font-family: 'Open Sans',sans-serif;
        font-size: 16px;
        padding: 10px 0;
        line-height: 20px;
        text-transform: capitalize;
        text-align: center;
        border-bottom: 1px solid white;
        border-top: 0;
        border-left: 0;
    }
    .navbar-nav .nav-item{
        padding: 0;
    }
    .navbar{
        background-color: rgba(56, 62, 76, 0);
    }
    #navbar-btn:focus{
        outline: 0;
      }
    #navbar-btn{
        margin: 10px;
        background-color: rgba(56, 62, 76, 1);
    }
    .navbar .navbar-nav{
        background-color: rgba(56, 62, 76, 1);
        margin:0 10px;
    }
}
/******************section1*************************/
#section1{
    height: 614px;
}
#section1 #header-area{
    height: 100%;
    background-image: url(./image/bg-1.jpg);
    background-size: cover;
    background-position: center;
}
#section1 h1{
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 70px;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.1;
    margin: 20px 0 10px;
}
#section1 h4{
    color: white;
    text-shadow: 1px 1px #333;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.1;
    margin: 10px 0;

}

@media(max-width:768px){
    #section1{
        height: 75vh;
    }
}